

// SCREEN LENGTHS

// SMALL
@media screen and (min-width: $media-query-width-s) {
  .col-s-0,
  .col-s-1,
  .col-s-2,
  .col-s-3,
  .col-s-4,
  .col-s-5,
  .col-s-6,
  .col-s-7,
  .col-s-8,
  .col-s-9,
  .col-s-10,
  .col-s-11,
  .col-s-12 {
    flex: none;
  }

  // Small-column grid
.c-s-1{
	width:40px;
}

.c-s-2{
	width:80px;
}

.c-s-3{
	width:120px;
}

.c-s-4{
	width:160px;
}

.c-s-5{
	width:200px;
}

.c-s-6{
	width:240px;
}

.c-s-7{
	width:280px;
}

.c-s-8{
	width:320px;
}

.c-s-9{
	width:360px;
}

.c-s-10{
	width:400px;
}

.c-s-11{
	width:440px;
}

.c-s-12{
	width:408px;
}

// MEDIUM
@media screen and (min-width: $media-query-width-m) {
  .col-m-0,
  .col-m-1,
  .col-m-2,
  .col-m-3,
  .col-m-4,
  .col-m-5,
  .col-m-6,
  .col-m-7,
  .col-m-8,
  .col-m-9,
  .col-m-10,
  .col-m-11,
  .col-m-12 {
    flex: none;
  }

  // medium - column grid
.c-m-1{
	width:85px;
}

.c-m-2{
	width:170px;
}

.c-m-3{
	width:255px;
}

.c-m-4{
	width:340px;
}

.c-m-5{
	width:425px;
}

.c-m-6{
	width:510px;
}

.c-m-7{
	width:595px;
}

.c-m-8{
	width:680px;
}

.c-m-9{
	width:765px;
}

.c-m-10{
	width:850px;
}

.c-m-11{
	width:935px;
}

.c-m-12{
	width:1020px;
}


// LARGE
@media screen and (min-width: $media-query-width-l) {
  .col-l-0,
  .col-l-1,
  .col-l-2,
  .col-l-3,
  .col-l-4,
  .col-l-5,
  .col-l-6,
  .col-l-7,
  .col-l-8,
  .col-l-9,
  .col-l-10,
  .col-l-11,
  .col-l-12,
   
  }


	// LARGE - column grid
	.c-l-1{
		width: 117px;
	}

	.c-l-2{
		width: 234px;
	}

	.c-l-3{
		width: 351px;
	}

	.c-l-4{
		width: 468px;
	}

	.c-l-5{
		width:585px;
	}

	.c-l-6{
		width: 702px;
	}

	.c-l-7{
		width: 819px;
	}

	.c-l-8{
		width: 936px;
	}

	.c-l-9{
		width:1053px;
	}

	.c-l-10{
		width:1170px;
	}
	.c-l-11{
		width:1287px;
	}

	.c-l-12{
		width:1404px;
	}










